on:
  # Trigger analysis when pushing to your main branches, and when creating a pull request.
  push:
    branches:
      - '**'
  pull_request:
    types: [opened, synchronize, reopened]

name: Code Analysis
jobs:
  npm-test:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v3
          with:
            fetch-depth: 0

        - name: Login to DockerHub
          uses: docker/login-action@v1
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

        - name: Setup Docker
          uses: docker-practice/actions-setup-docker@master

        - name: Run Postgres container
          run:  docker run --name postgres -e POSTGRES_PASSWORD=postgres -d -p 5432:5432 igoraugst/pauliceiadb

        - name: Setup Node.js
          uses: actions/setup-node@v2
          with:
            node-version: '20'

        - name: Install dependencies
          run: npm ci

        - name: Setup .env
          run: cp .env.example .env

        - name: Run tests
          run: npm test

        - name: SonarQube Scan
          uses: sonarsource/sonarqube-scan-action@master
          env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}